@use '@st/functions' as func;
@use '@st/variables' as vars;

.block__buttons {
	height: func.adapt(42px, 1440px);
	border-radius: func.adapt(8px, 1440px);
	position: relative;
	display: flex;
	align-items: center;
	gap: func.adapt(24px, 1440px);

	> button {
		background-color: transparent;
		height: 100%;
		padding: func.adapt(8px, 1440px) 0px;
		font-size: 1rem;
		line-height: 1.4;

		&:hover {
			cursor: pointer;
		}
	}

	> .target__line {
		background-color: vars.$red;
		position: absolute;
		bottom: 0;
		height: 2px;
		border-top-left-radius: func.adapt(20px, 1440px);
		border-top-right-radius: func.adapt(20px, 1440px);
		transition:
			left 0.2s ease-in-out,
			width 0.2s ease-in-out;
	}
}
