@use '@st/functions' as func;
@use '@st/variables' as vars;

.block__suppliers {
	flex-grow: 1;
	margin-top: func.adapt(20px, 1920px);
	display: flex;
	flex-direction: column;
	gap: func.adapt(30px, 1920px);
	width: 100%;
	border: 1px solid rgba($color: #000000, $alpha: 0.3);
	border-radius: func.adapt(10px, 1920px);
	padding: func.adapt(10px, 1920px) func.adapt(15px, 1920px);
}
