@use '@st/functions' as func;

.loader {
	top: 50%; /* Центр по вертикали */
	left: 50%; /* Центр по горизонтали */
	transform: translate(-50%, -50%); /* Сдвиг для точного центрирования */
	width: func.adapt(50px, 1920px); /* Ширина элемента загрузки */
	height: func.adapt(50px, 1920px); /* Высота элемента загрузки */
	border: func.adapt(5px, 1920px) solid #f3f3f3; /* Цвет фона */
	border-top: func.adapt(5px, 1920px) solid #3498db; /* Цвет верхней части */
	border-radius: 50%; /* Круглая форма */
	animation: spin 1s linear infinite; /* Анимация вращения */
	z-index: 9999; /* Поверх других элементов */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
