@use '@st/functions' as func;
@use '@st/variables' as vars;

.wrapper_suppliers {
}

.title {
	font-weight: 500;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: func.adapt(10px, 1920px);
}

.list {
	> a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border: 1px solid rgb(35, 35, 35);
		border-radius: func.adapt(6px, 1920px);
		padding: func.adapt(10px, 1920px) func.adapt(15px, 1920px);
		box-shadow: 0px 0px 4px rgba($color: #000, $alpha: 0.2);
		transition:
			box-shadow 0.3s ease,
			font-size 0.3s ease;
		font-size: 1rem;

		&:hover {
			font-size: 1.1rem;
			box-shadow: 0px 0px 7px rgba($color: #000, $alpha: 0.4);
			cursor: pointer;
		}

		> span {
		}
	}
}
