@use '@st/functions' as func;
@use '@st/variables' as vars;

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	// max-width: func.adapt(1000px, 1920px);
}

.title {
	color: rgba($color: #000000, $alpha: 0.5);
}

.value {
	font-weight: 600;
}
