@use '@st/functions' as func;
@use '@st/variables' as vars;

.block__input {
	display: flex;
	border: 1px solid vars.$blue_grey;
	border-radius: func.adapt(6px, 1920px);
	height: func.adapt(55px, 1920px);
	width: func.adapt(600px, 1920px);

	> button {
		background-color: vars.$blue_grey;
		width: func.adapt(60px, 1920px);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top-right-radius: func.adapt(4px, 1920px);
		border-bottom-right-radius: func.adapt(4px, 1920px);
	}
}

.input {
	flex-grow: 1;
	border-radius: func.adapt(6px, 1920px);
	outline: none;
	font-size: 1rem;
	padding-left: func.adapt(10px, 1920px);
}

.img {
	width: func.adapt(20px, 1920px);
	height: func.adapt(20px, 1920px);
}
